# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

#idea
.idea
.playerProfile

# Java
# Compiled class file
*.class

# Ignore Gradle GUI config
gradle-app.setting

# Package Files #
*.war
*.nar
*.ear
*.tar.gz
*.rar

# Gradle
.gradle
/build/

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
/bin/

# Eclipse folders
.classpath
.project

# Player profile
profile.json

#JavaDoc output
JavaDoc/

