/* general */
.darkbg {
    /*-fx-background-color: black;*/
    -fx-background-image: url("../images/background.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto 100%;
}

.darkbg Label {
    -fx-text-fill: white;
}

Label, Button {
    -fx-font-family: "Bauhaus 93";
}

.darkbg .title {
    -fx-font-size: 40;
    -fx-alignment: center;
}

Button {
    -fx-background-radius: 20;
    -fx-border-width: 0;
    -fx-border-color: white;
    -fx-font-size: 30px;
    -fx-cursor: pointer;
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(255,255,255,0.8), 20, 0, 0, 0);
}

Button:hover,
Button:hover Label {
    -fx-background-color: white;
    -fx-text-fill: black !important;
    -fx-cursor: hand;
}

/* menu.fxml */
.darkbg .menu Label.title {
    -fx-font-size: 60px !important;
}

.icon-start-game{
    -fx-font-family: 'video games';
}

/* settings.fxml */
.settings Label {
    -fx-font-size: 20;
}

Slider .axis {
    -fx-tick-label-fill: white;
}
Slider .axis .axis-tick-mark,
Slider .axis .axis-minor-tick-mark {
    -fx-fill: white;
    -fx-stroke: white;
}

.settings TextField {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1;
    -fx-border-color: white;
    -fx-border-radius: 0;
    -fx-text-fill: white;
    -fx-font-family: "Bauhaus 93";
    -fx-font-size: 18;
}

