/* general */
.darkbg {
    -fx-background-image: url("../images/background.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto 100%;
}

.darkbg Label {
    -fx-text-fill: white;
}

Label, Button {
    -fx-font-family: 'metallord';
}

.darkbg .title {
    -fx-font-size: 40;
    -fx-alignment: center;
}

Button {
    -fx-pref-width: 250;
    -fx-max-width: 250;
    -fx-background-radius: 20;
    -fx-border-width: 0;
    -fx-border-color: white;
    -fx-font-size: 30;
    -fx-cursor: pointer;
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(255,255,255,0.8), 20, 0, 0, 0);
}

Button:hover,
Button:hover Label {
    -fx-background-color: white;
    -fx-text-fill: black !important;
    -fx-cursor: hand;
}

/* menu.fxml */
.darkbg .menu Label.title {
    -fx-font-size: 60 !important;
}

.icon-start-game{
    -fx-font-family: 'video games';
}

/* settings.fxml */
.settings Label {
    -fx-font-size: 20;
}

Slider .axis {
    -fx-tick-label-fill: white;
}
Slider .axis .axis-tick-mark,
Slider .axis .axis-minor-tick-mark {
    -fx-fill: white;
    -fx-stroke: white;
}

.settings TextField {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1;
    -fx-border-color: white;
    -fx-border-radius: 0;
    -fx-text-fill: white;
    -fx-font-family: "Bauhaus 93";
    -fx-font-size: 18;
}

/* game.fxml */
.gameBG {
    -fx-background-color: black;
}

/* shop.fxml
 -> https://docs.oracle.com/javafx/2/api/javafx/scene/doc-files/cssref.html#tabpane
*/


.tab-label {
    -fx-text-fill: white;
    -fx-font-family: "Bauhaus 93";
    -fx-font-size: 20;

}
.tab,
.shop .headers-region {
    -fx-pref-height: 50;
}
.tab,
.shop .headers-region,
.shop .tab-header-area,
.tab-header-background,
.tab-content-area {
    -fx-background-color: transparent;
}

ListView {
    -fx-pref-height: 1000;
}

.shop,
.shop TabPane,
.shop ListView {
    -fx-background-color: transparent;
}
.shop .list-cell {
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-width: 2 0 0 0;
    -fx-pref-height: 65; /* Button(Padding: 20; Font: 20) + Cell-Padding: 20 - 5*/
    -fx-padding: 10 0 0 0;
}

.shop .list-cell Label {
    -fx-pref-width: 200;
    -fx-font-size: 20;
}

.shop .list-cell Button {
    -fx-alignment: CENTER;
    -fx-pref-width: 200;
    -fx-pref-height: 30;
    -fx-font-size: 20;
}